/Debug
/Release
build/
Unoptimized
ipch
message.txt
/kaba
/*.kaba
__test__
*.o
*.a
Kaba.sdf
Kaba.opensdf
Kaba.suo
kaba.vcxproj.user
/.vs
/build
/x64/Debug
/x64/Release
/CppProperties.json
*.exe
*.dll
