[Desktop Entry]
Version=1.0
Type=Application
Name=Kaba
Name[de]=Kaba
Comment=Executes Kaba Scripts
Comment[de]=Ausführen von Kaba Scripten
Categories=Development;Building;
NoDisplay=true
Exec=/usr/local/bin/kaba --gui %u
Icon=michisoft-kaba.png
MimeType=text/michisoft-kaba
